<!DOCTYPE html>
<html>
    <head>
        <title >Movie World</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="./static/styles.css">
        <script type="text/javascript" src="../static/login.js"></script>
    <style>
        
    </style>
    </head>
    <body  style="background-image: url('./static/home.jpg');">
        <h1 style="text-align:center"> Welcome to Movie World!</h1>
        <div class="container" style="display: grid;" ">
        {% if error !=null %}
            <p style="color:red">Invalid credntials</p>
        {% endif %}
        {% if message !=null %}
            <p style="color:red">Successfully Registered</p>
        {% endif %}
        <form action='/login' method="post">
            <table>
                <th><h2>Login</h2></th>
            <tr>
                <td><label for="username">username</label></td>
                <td><input type="text" name="username"></td>
            </tr><tr><td><br></td></tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </tr><tr><td><br></td></tr>

            <tr>
                <td><button type="button" style="background-color:chartreuse;" onclick="register()">Sign Up</button></td>
                <td><input type="submit" style="background-color: chartreuse; align-self: center;" value ="submit"></td>

            </tr>
            </table>
        </form>
        </div>
    </body>
</html>